.App {
  text-align: center;
  font-family: monospace;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.temperature {
  display: flex;
  justify-content: center;
}

.max {
  font-weight: bold;
}

.min {
  margin-left: 5px;
}
.container {
  display: flex;
  justify-content: center;
  width: 90%;
}
.block {
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  padding: 5px;
}
.block:first-child {
  background-color: #dddddd;
  border-left: solid 1px #dddddd;
}

.block:last-child {
  border-right: solid 1px #dddddd;
}
